<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To Do List</title>
</head>
<body>
    <div class = "box" id="heading">
        <h1><%= htmlDay %> </h1>
    </div>
    <div class="box">
        <% htmlTodoList.forEach(element => { %>
            <div class="item">
            <input type="checkbox">
            <p><%= element %> </p>
        </div>
        <% }) %>
    
    <form action="/" method="post">
        <input type="text" name="newTodo" placeholder="Enter new Todo.." autocomplete="off">
        <button type="submit">+</button>
    </form>
</div>
</body>
</html> 